.c-container {
    justify-content: space-between!important ;
}

.c-right {
    width: 100%;
}

.c-left {
    gap: .5rem;
}

.contactModes {
    margin-top: 2rem;
    gap: 1rem;
}

.contactModes .row {
    gap: 1.5rem;                        
}

.mode {
    width: 16rem;
    padding: 1rem;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 5px;
    gap: 1rem;
    transition: all 300ms ease-in;
}

.mode .button {
    width: 100%!important;
    padding: .8rem;
    background: var(--lightBlue)!important;
    color: var(--blue)!important;
    font-size: 0.9rem!important;
    font-weight: 600!important;
}

.mode>:nth-child(1) {
    width: 100%;
    gap: 1.6rem;
}

.mode .detail .primaryText {
    font-size: 1.1rem!important;
    font-weight: 600;
}

.mode:hover {
    scale: 1.1;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.mode .button:hover {
    background: var(--blue-gradient)!important;
    color: #fff!important;
    scale: 0.8;
}